body {
    background: #121212;
    color: white;
    font-family: Arial;
    padding: 20px;
}

input, button {
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
}

button {
    background: #1db954;
    border: none;
    cursor: pointer;
}

li {
    cursor: pointer;
    margin: 5px 0;
}
