body {
    font-family: Arial;
    background: #121212;
    color: white;
    padding: 20px;
}

button {
    padding: 8px;
    margin-top: 5px;
    background: #1db954;
    border: none;
    cursor: pointer;
}

li {
    cursor: pointer;
    margin: 5px 0;
}
